<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <parameter name="Email" value="yugi.kotla@gmail"></parameter>
  <parameter name="Password" value="Yugi@123"></parameter>
  <parameter name="FirstName" value="Yugandhar"></parameter>
   <parameter name="LastName" value="Kotla"></parameter>
    <parameter name="Age" value="23"></parameter>
     <parameter name="Address" value="Vizag"></parameter>
    <classes>
      <class name="test.SignUpPageTest"/>
	<class name="test.LoginPageTest"/>
	<class name="test.AfterLoginTest"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->